http:
  middlewares:
    secure-headers:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        referrerPolicy: no-referrer-when-downgrade
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
    ipwhitelist:
      ipWhiteList:
        sourceRange:
          - 0.0.0.0/0

  routers:
    api:
      rule: Host(`api.fastisp.cloud`)
      entryPoints:
        - web
        - websecure
      service: api
      middlewares:
        - secure-headers
        - ipwhitelist
      tls:
        certResolver: myresolver

    frontend:
      rule: Host(`fastisp.cloud`)
      entryPoints:
        - web
        - websecure
      service: frontend
      middlewares:
        - secure-headers
        - ipwhitelist
      tls:
        certResolver: myresolver

  services:
    api:
      loadBalancer:
        servers:
          - url: http://backend:5000

    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:80
